# IDE Stuff
.vscode/**
.idea/**

# Folders
node_modules/**
.svelte-kit/**
build/**

# Files
.env
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
